<footer>
    <div id="flex-footer">
        <p>Desenvolvido por Lucas Ponciano. Projeto Final do Módulo 2 da <a href="https://blueedtech.com.br/">Blue EdTech</a></p>

        <div class="social-links">
            <a href="https://www.linkedin.com/in/lucas-ponciano/"><i class="fa-brands fa-linkedin fa-lg"></i></a>
            <a href="https://github.com/poncianodev"><i class="fa-brands fa-github fa-lg"></i></a>
            <a href="https://www.instagram.com/poncianodev/"><i class="fa-brands fa-instagram fa-lg"></i></a>
        </div>
    </div>
</footer>
