<header>
    <nav>
        <a href=""><ul>Home</ul></a>
        <a href=""><ul>Quem Somos</ul></a>
        <a href=""><ul>Produtos</ul></a>
        <a href=""><ul>Contato</ul></a>
    </nav>
</header>