<header>
    <nav>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

        <a href="/" class="logo">Ateliê Nara Reborn</a>
        <ul class="nav-list">
            <li><a href="/">Início</a></li>
            <li><a href="/criar">Criar</a></li>
        </ul>
    </nav>
</header>
